/*CSS*/
body {
  background-color: black;
  background-image: url("../images/saroj4.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixex;
  margin: 0px;
  
  font-family: Helvetica Neue, Helvetica;
  color: white; }

  body a {
    color: orange;
    text-decoration: none; }
    body a:hover {
      color: yellow; }

  body .content {  
   
    margin: 0 0 0 auto;
    padding-top: 150px;
    padding-left: 50px; }

    body .content h1 {	 
      font-weight: normal;
      padding: 25px 0 0;
      margin: 0px;
      font-size: 5em; }

    body .content p {
      font-size: 17px;
      margin: 5px 0 10px 10px;
      padding: 0px; }

   .button1{
  background-color: rgb(199, 19, 139);
  border-color:rgb(128, 0, 43);  
  height: 60px;
  width: 30%;
}

.welcome1{
  font-size: 16pt;
  background-color: white;
  text-align: center;
}
