/*CSS*/
body {
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, Helvetica;
}
.container {
  /* min-height: 1000px; */
  background-color: black;
}
.bg-banner {
  min-height: 1000px;
  width: 100%;
  background-image: url("../images/saroj4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container a {
  color: orange;
  text-decoration: none;
}
.container a:hover {
  color: yellow;
}

.content {
  margin: 0 0 0 auto;
  padding-top: 150px;
  padding-left: 50px;
}

.content h1 {
  font-weight: normal;
  padding: 25px 0 0;
  margin: 0px;
  font-size: 5em;
}

.content p {
  font-size: 17px;
  margin: 5px 0 10px 10px;
  padding: 0px;
}

.button1 {
  background-color: rgb(199, 19, 139);
  border-color: rgb(128, 0, 43);
  height: 60px;
  width: 30%;
}

.welcome1 {
  font-size: 16pt;
  background-color: white;
  text-align: center;
}

h1 {
  color: aqua;
}

@media (min-width: 768px) {
  .bg-banner {
    height: 597px;
  }
}
@media (min-width: 1200px) {
  .bg-banner {
    width: 100%;
    height: 726px;
  }
}
